In [25]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.ticker as plticker

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import cross_val_score
import statsmodels.api as sm

In [7]:
cleandata = pd.read_csv('Clean_Shoe_Data.csv')
modeldata = cleandata.copy()
modeldata.head()

,Order Date,Brand,Sneaker Name,Sale Price,Retail Price,Release Date,Shoe Size,Buyer Region
0,2017-09-01,Yeezy,Adidas Yeezy Boost 350 Low V2 Beluga,1097,220,2016-09-24,11.0,California
1,2017-09-01,Yeezy,Adidas Yeezy Boost 350 V2 Core Black Copper,685,220,2016-11-23,11.0,California
2,2017-09-01,Yeezy,Adidas Yeezy Boost 350 V2 Core Black Green,690,220,2016-11-23,11.0,California
3,2017-09-01,Yeezy,Adidas Yeezy Boost 350 V2 Core Black Red,1075,220,2016-11-23,11.5,Kentucky
4,2017-09-01,Yeezy,Adidas Yeezy Boost 350 V2 Core Black Red 2017,828,220,2017-02-11,11.0,Rhode Island

In [17]:
# This step might be an issue. The shape of this df is (99956, 669).
df_dum = pd.get_dummies(modeldata)
df_dum.head()

,Sale Price,Retail Price,Shoe Size,Order Date_2017-09-01,Order Date_2017-09-02,Order Date_2017-09-03,Order Date_2017-09-04,Order Date_2017-09-05,Order Date_2017-09-06,Order Date_2017-09-07,...,Buyer Region_South Dakota,Buyer Region_Tennessee,Buyer Region_Texas,Buyer Region_Utah,Buyer Region_Vermont,Buyer Region_Virginia,Buyer Region_Washington,Buyer Region_West Virginia,Buyer Region_Wisconsin,Buyer Region_Wyoming
0,1097,220,11.0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,685,220,11.0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,690,220,11.0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1075,220,11.5,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,828,220,11.0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
X = df_dum.drop('Sale Price', axis = 1)
y = df_dum['Sale Price'].values

In [28]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 12)

In [20]:
# Multiple linear regression
X_sm = X = sm.add_constant(X)

In [21]:
model = sm.OLS(y, X_sm)

In [ ]:
# @hidden_cell
model.fit().summary()

In [26]:
lm = LinearRegression()

In [29]:
lm.fit(X_train, y_train)

LinearRegression()

In [33]:
cross_val_score(lm, X_train, y_train, scoring = 'neg_mean_absolute_error', cv = 5).mean()

-54.773008968066186